[Unit]  
Description=Dotnet Core Service  
  
[Service]  
ExecStart=/usr/bin/dotnet ubuntu.dll --port 80

WorkingDirectory=/opt/dotnet-service/  
Restart=on-failure  
SyslogIdentifier=dotnet-service  
PrivateTmp=true  
  
[Install]  
WantedBy=multi-user.target