[Unit]  
Description=Dotnet Core Service  
  
[Service]  
ASPNETCORE_URLS=http://0.0.0.0:80
ExecStart=/usr/bin/dotnet ubuntu.dll --server.urls http://0.0.0.0:80

WorkingDirectory=/opt/dotnet-service/  
Restart=on-failure  
SyslogIdentifier=dotnet-service  
PrivateTmp=true  
  
[Install]  
WantedBy=multi-user.target